<ion-header [translucent]="true">
      <ion-toolbar>
        <div class="header-content">
          <img src="assets/images/logo.jpg" alt="Logo" class="logo" [routerLink]="['/home']">
          <div class="floating-menu">
            <ion-button fill="clear" [routerLink]="['/creer-data-sachet']">Produit</ion-button>
            <ion-button fill="clear" [routerLink]="['/creer-data-carton']">Carton</ion-button>
            <ion-button fill="clear" [routerLink]="['/creer-data-palette']">Palette</ion-button>
            <ion-button fill="clear" (click)="logout()">Déconnexion</ion-button> 
          </div>
        </div>
        <ion-title>Générer une étiquette carton</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="cartonForm" (ngSubmit)="generateLabel()">
    <ion-item>
      <ion-label position="floating">GTIN carton</ion-label>
      <!-- <ion-input [(ngModel)]="carton.gtin" name="gtin" required></ion-input> -->
      <ion-select formControlName="gtin" interface="popover" aria-placeholder="Selectionner un GTIN" >
        <ion-select-option *ngFor="let gtin of gtinOptions" [value]="gtin.value">
          {{ gtin.label }}
        </ion-select-option>
      </ion-select> 

    </ion-item>

    <ion-item>
      <ion-label position="floating">Content GTIN</ion-label>
      <!-- <ion-input [(ngModel)]="carton.content_gtin" name="content_gtin" required></ion-input> -->
      <ion-select formControlName="content_gtin" interface="popover" aria-placeholder="Selectionner un GTIN" >
        <ion-select-option *ngFor="let gtin of gtinOptions" [value]="gtin.value">
          {{ gtin.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Batch</ion-label>

      <ion-input formControlName="batch" required readonly></ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Expiry Date (JJ/MM/AA)</ion-label>

      <ion-input formControlName="expiry_date" required readonly></ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" formControlName="quantity" required readonly></ion-input>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Serial Number</ion-label>
      <ion-input formControlName="serial_number" required readonly></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="cartonForm.invalid">Générer l'étiquette</ion-button>
  </form>

  <div *ngIf="labelUrl">
    <h3>Aperçu de l'étiquette</h3>
    <img [src]="labelUrl" alt="Étiquette générée">
    <ion-button expand="full" (click)="downloadLabel()">Télécharger l'étiquette</ion-button>
  </div>
</ion-content>

