<ion-header>
  <ion-toolbar>
    <ion-title>Générer une étiquette carton</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="generateLabel()">
    <ion-item>
      <ion-label position="floating">GTIN</ion-label>
      <ion-input [(ngModel)]="produit.gtin" name="gtin" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Content GTIN</ion-label>
      <ion-input [(ngModel)]="produit.content_gtin" name="content_gtin" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Batch</ion-label>
      <ion-input [(ngModel)]="produit.batch" name="batch" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Expiry Date (JJ/MM/AA)</ion-label>
      <ion-input [(ngModel)]="produit.expiry_date" name="expiry_date" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" [(ngModel)]="produit.quantity" name="quantity" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Générer l'étiquette</ion-button>
  </form>

  <div *ngIf="labelUrl">
    <h3>Aperçu de l'étiquette</h3>
    <img [src]="labelUrl" alt="Étiquette générée">
    <ion-button expand="full" (click)="downloadLabel()">Télécharger l'étiquette</ion-button>
  </div>
</ion-content>

