/* Style pour le header */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo */
.header-content .logo {
  max-width: 150px; /* Ajuste la taille du logo si nécessaire */
  height: auto;
  padding-left: 10px;
}

/* Conteneur des boutons (Produit, Carton, Palette) */
.menu-buttons {
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
  padding-left: 30px;
}

/* Bouton Déconnexion - Séparé des autres */
.logout-button {
  margin-left: auto; /* Permet de repousser le bouton à droite */
  padding-right: 30px;
}

ion-button{
  --background: greenyellow;
  --color: white;
  font-size: small;
}

/* Hero Section */
.hero {
  background-color: #ffffff;
  color: greenyellow;
  text-align: center;
  padding: 50px 0;
  font-style: italic;
  font-weight: bold;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: black;
}

.hero img {
  margin-top: -30px;
}


/* Conteneur du slider */
.slider-container {
  margin-top: -200px;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement si nécessaire */
  width: 100%; /* Prend toute la largeur */
  height: 100vh; /* Prend toute la hauteur de l'écran, ajuste selon besoin */
}

/* Swiper container */
swiper-container {
  width: 80%; /* Définit une largeur max du slider */
  max-width: 800px; /* Empêche le slider de devenir trop large */
  height: 400px; /* Hauteur fixe du slider */
  max-height: 500px; /* Empêche le slider de dépasser cette hauteur */
}

/* Style des slides */
swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Images dans le slider */
.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* S'assure que l'image couvre bien le slide */
  border-radius: 10px; /* Coins arrondis pour un effet stylé */
}


/* Style pour le footer */
ion-footer {
  width: 100%;
  padding: 10px 0; /* Espacement vertical */
  background: greenyellow;
}

/* Contenu du footer */
.footer-content {
  width: 100%; /* Limite la largeur du footer */
  margin: 0 auto; /* Centre le footer */
  text-align: center; /* Centrer le texte à l'intérieur du footer */
}

/* Optionnel : style du texte */
.footer-content p {
  font-size: 14px;
  color: #888; /* Couleur du texte, tu peux ajuster cette couleur */
}

/* Pour le mode responsive */
@media (max-width: 480px) {
  .login-container {
    margin: 1rem;
    padding: 1.5rem;
    width: calc(100% - 2rem);
  }
}

