<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" [routerLink]="['/home']" >
      <div class="floating-menu">
        <ion-button fill="clear" [routerLink]="['/creer-data-sachet']">Produit</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-carton']">Carton</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-palette']">Palette</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <swiper-container>
      <swiper-slide>
        <div class="slide-content">
          <img src="https://th.bing.com/th?id=OLC.mpoR+FQNXugkOQ480x360&rs=1&pid=ImgDetMain" alt="Image 2">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="https://th.bing.com/th?id=OLC.qKKZ1RdX/YhgdA480x360&rs=1&pid=ImgDetMain" alt="Image 2">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="https://th.bing.com/th?id=OLC.ZHHyGLSc+YhGdw480x360&rs=1&pid=ImgDetMain" alt="Image 1">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="https://th.bing.com/th/id/OLC.qPZigQ4n10xaDQ480x360?&rs=1&pid=ImgDetMain" alt="Image 1">
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="slide-content">
          <img src="https://th.bing.com/th/id/OLC.o45AxSCQGWMSKw480x360?&rs=1&pid=ImgDetMain" alt="Image 3">
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-content">
          <img src="https://th.bing.com/th/id/OLC.fxPgwGRjjkvjsQ480x360?&rs=1&pid=ImgDetMain" alt="Image 3">
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
