<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" [routerLink]="['/home']">
      <div class="floating-menu">
        <ion-button fill="clear" [routerLink]="['/creer-data-sachet']">Produit</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-carton']">Carton</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-palette']">Palette</ion-button>
      </div>
    </div>
    <ion-title>Générer une étiquette palette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="labelForm" (ngSubmit)="generateLabel()">
    <ion-item>
      <ion-label position="floating">SSCC</ion-label>
      <ion-select formControlName="sscc" interface="popover" aria-placeholder="Sélectionnez un SSCC">
        <ion-select-option *ngFor="let code of ssccOptions" [value]="code">
          {{code.typePackage}}
        </ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Content GTIN</ion-label>
      <ion-select formControlName="content_gtin" interface="popover" aria-placeholder="Sélectionnez un GTIN">
        <ion-select-option *ngFor="let gtinCode of gtinContent" [value]="gtinCode">
           {{gtinCode.typeGtin}}
        </ion-select-option>
    </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Batch</ion-label>
      <ion-input formControlName="batch" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Product Date</ion-label>
      <ion-input formControlName="prod_date" type="date"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Expiry Date</ion-label>
      <ion-input formControlName="expiry_date" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input formControlName="quantity" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Order Number</ion-label>
      <ion-input formControlName="order_number" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Number Part Cust</ion-label>
      <ion-input formControlName="number_part_cust" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Total Number of palette</ion-label>
      <ion-input formControlName="totalPalettes" type="number"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="labelForm.invalid">Generer l'etiquette</ion-button>
  
  </form>

  <!--Affichage de l'image de l'étiquette -->
  <div *ngIf="imageUrl" style="margin-top: 20px; text-align: center;">
    <h2>Image de l'étiquette</h2>
    <img [src]="imageUrl" alt="">
  </div>

  <div *ngIf="imageUrl"  style="margin-top: 20px; text-align: center;">
    <ion-button (click)=" downloadLabel()">Télécharger en PDF</ion-button>
  </div>
  
</ion-content>


