<ion-content>
  <div class="login-container">
    <div class="logo-container">
      <!-- Logo InnoFaso -->
      <img src="assets/images/logo.jpg" alt="InnoFaso Logo" class="logo">
    </div>

    <h1>Connexion</h1>

    <!-- Formulaire réactif -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <ion-item>
          <ion-label position="stacked">Nom d'utilisateur</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <p class="error-message" *ngIf="username?.invalid && username?.touched">
          Veuillez entrer un identifiant valide
        </p>
      </div>

      <div class="input-group">
        <ion-item>
          <ion-label position="stacked">Mot de passe</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
        </ion-item>
        <ion-button fill="clear" (click)="togglePasswordVisibility()" class="visibilite-btn">
          Afficher / Masquer le mot de passe
        </ion-button>
        <p class="error-message" *ngIf="password?.invalid && password?.touched">
          Veuillez entrer votre mot de passe
        </p> 
      </div>

      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid" class="login-btn">
        Se connecter
      </ion-button>
    </form>
  </div>
</ion-content>
