<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" [routerLink]="['/home']">
      <div class="floating-menu">
        <ion-button fill="clear" [routerLink]="['/creer-data-sachet']">Produit</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-carton']">Carton</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-palette']">Palette</ion-button>
        <ion-button fill="clear" (click)="logout()">Déconnexion</ion-button> 
      </div>
    </div>
    <ion-title>Générer datamatrix sachet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="sachetForm" (ngSubmit)="generateDataMatrix()">
    <ion-item>
      <ion-label position="floating">Sélectionnez le GTIN</ion-label>
        <ion-select formControlName="gtin" interface="popover" aria-placeholder="Selectionner un GTIN" >
        <ion-select-option *ngFor="let gtin of gtinOptions" [value]="gtin">
          {{ gtin.label }}
        </ion-select-option>
      </ion-select> 

      <!-- <ion-input formControlName="gtin" type="text" placeholder="GTIN"></ion-input> -->
    </ion-item>
  
    <ion-button expand="full" type="submit" [disabled]="sachetForm.invalid">Générer la DataMatrix</ion-button>
  </form> 


  <div *ngIf="imageUrl">
    <h3>Aperçu de la DataMatrix</h3>
    <img [src]="imageUrl" alt="Datamatrix générée">
    <ion-button expand="full" (click)="downloadImage()">Télécharger la DataMatrix</ion-button>
  </div>

</ion-content>
