<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <img src="assets/images/logo.jpg" alt="Logo" class="logo" [routerLink]="['/home']">
      <div class="floating-menu">
        <ion-button fill="clear" [routerLink]="['/creer-data-sachet']">Produit</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-carton']">Carton</ion-button>
        <ion-button fill="clear" [routerLink]="['/creer-data-palette']">Palette</ion-button>
      </div>
    </div>
    <ion-title>Générer datamatrix sachet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="generateDataMatrix()">
    <ion-item>
      <ion-label position="floating">GTIN</ion-label>
      <ion-input [(ngModel)]="sachet.gtin" name="gtin" required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Batch</ion-label>
      <ion-input [(ngModel)]="sachet.batch" name="batch" required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Expiry Date (JJ/MM/AA)</ion-label>
      <ion-input [(ngModel)]="sachet.expiry_date" name="expiry_date" required [ngModelOptions]="{standalone: true}" type="date"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Générer la DataMatrix</ion-button>
  </form>

  <div *ngIf="imageUrl">
    <h3>Aperçu de la DataMatrix</h3>
    <img [src]="imageUrl" alt="Datamatrix générée">
    <ion-button expand="full" (click)="downloadImage()">Télécharger la DataMatrix</ion-button>
  </div>

</ion-content>
